.menubar-container {
  /* left: 50%; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 88px;
  width: 100%;
  padding: var(--container-padding);

  backdrop-filter: blur(12);
  -webkit-backdrop-filter: blur(12);

  background-color: var(--container-main);
  /* border: black 1px solid; */

  color: var(--font-dark-1);

  box-shadow: inset 0 1px 2px #00000070, 0 4px 6px #ffffff30,
    0 6px 10px #ffffff15;
  /* color: black; */
}

.menubar-logo {
  /* font-family: "Times New Roman", Times, serif; */

  font-weight: var(--font-weight-2);
  font-size: var(--font-size-rem-3);
  letter-spacing: 1.2px;
  font-family: var(--font-logo);
}

.menubar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  /* background-color: green; */
  /* height: ; */
  /* position: absolute; */
  /* right: 80px; */
  gap: 16px;
  padding: 8px 0;

  font-weight: var(--font-weight-2);
  font-size: var(--font-size-rem-3);
  font-size: var(--font-size-rem-1);
}

.menubar-button-container > * {
  /* height: 100%; */
  padding: 12px 24px;
  /* margin: 16px 0 16px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;

  transition: background-color 0.2s ease, box-shadow 0.3s ease;
}

.menubar-button-container > *:hover {
  background-color: white;
  box-shadow: var(--shadow-soft);
}

.menubar-button-container > *:last-child {
  padding: 14px 32px;
  margin-left: 16px;
  background-color: var(--bg-main);
  color: var(--font-light-1);
  box-shadow: var(--shadow-soft);
  border: 1.5px solid transparent;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, border 0.2s ease,
    color 0.2s ease, scale 0.2s ease;
}

.menubar-button-container > *:last-child:hover {
  box-shadow: var(--shadow-strong);
  scale: 1.05;
  background-color: var(--accent-main);
  border: 1.5px solid var(--bg-main);
  font-weight: 400;
  color: var(--font-dark-1);
}

.menubar-button-container > *:last-child:active {
  background-color: var(--container-main);
  scale: 0.9;
  transition: scale 0.05s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #333;
  transition: 0.3s;
}

.close-button {
  display: none !important;
}

/* === Side Menu (1104px and below) === */
@media (max-width: 1104px) {
  .menubar-container {
    padding: var(--container-padding-tab);
  }
  .menubar-button-container {
    position: fixed;
    top: 0;
    right: -300px; /* hidden offscreen */
    height: 100vh;
    width: 280px;
    background-color: var(--container-main);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 120px;
    gap: 32px;
    box-shadow: -4px 0 14px rgba(0, 0, 0, 0.15);
    transition: right 0.2s ease-in-out;
    opacity: 1; /* keep visible for slide */
    transform: none; /* cancel old transform */
  }

  .menubar-button-container.show {
    right: 0;
    z-index: 9999;
    color: var(--font-dark-1);
    background-color: var(--container-main);
  }

  .hamburger {
    position: relative;
    /* z-index: 101; */
    display: block;
  }

  .close-button {
    display: block !important;
  }
}

@media (max-width: 628px) {
  .menubar-container {
    padding: var(--container-padding-mobile);
  }
  .menubar-logo {
    font-size: var(--font-size-rem-2);
  }

  .hamburger {
    margin-top: 4px;
  }
}
