.app-container {
  /* height: 100dvh; */
  width: 100dvw;
  justify-content: center;
  flex-direction: column;

  /* align-items: center; */
  /* background-color: red; */
}

/* .app-content {
  height: 200vh;
  width: 100%;
  background-color: var(--bg-main);
} */
